{% block block_image_four_column %}
    {% set columns = 1 %}
    {# @deprecated tag:v6.5.0 - Use "element.id" directly instead. #}
    {% set id = element.id %}

    {% block block_image_four_column_left %}

        {% set element = block.slots.getSlot('imageSlider') %}

        <div class="col-md-12" data-cms-element-id="{{ element.id }}">
            {% block block_image_four_column_left_inner %}

                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}
