%warningBadge {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-dark-orange;
}

%primaryBadge {
    // width: 50px;
    // height: 50px;
    // border-radius: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $sw-color-brand-primary;
}
%successBadge {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-green;
}
// yellow
%secondaryBadge {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-orange;
}
.product-badges {
    .badge {
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 3px;

        &.badge-danger.badge-discount {
           @extend %secondaryBadge;
        }


    }
}


// @extend %primaryBadge;
// @extend %successBadge;
// @extend %warningBadge;