.cashback-wrapper {
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
        margin-bottom: 40px;
    }
    @include media-breakpoint-down(sm) {
        a.btn.btn-primary {
            background: transparent;
            box-shadow: none;
            color: $color-blue;
        }
    }
    @include media-breakpoint-up(md) {
        .cms-block-moorl-column-layout-1-1-1-1 .moorl-column-layout {
            height: 100%;
        }
    }
    .moorl-column-layout .cms-element-image:nth-child(2) {
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
            margin-right: 20px;
        }
    }

    .moorl-column-layout {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 0;

        div:nth-child(1) {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-left: auto;
            padding-left: 40px;
        }
        div:nth-child(2) {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            padding-right: 40px;
        }
        div:nth-child(3) {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding-left: 40px;
        }
        div:nth-child(4) {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            padding-right: 40px;
        }
        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
        }

        & > a,
        & > div {
            background-color: $color-light-blue;
            @include media-breakpoint-up(sm) {
                height: 100%;
            }
            padding: 0;
        }
        .cms-element-image.has-vertical-alignment {
            padding-top: 0;
            padding-bottom: 0;

            @include media-breakpoint-down(sm) {
                height: auto;
            }
        }

        .cms-element-text {
            padding: 20px;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;

            .btn.btn-primary {
                border: 0;
                text-transform: initial;
                @include media-breakpoint-down(sm) {
                    display: flex;
                    align-items: center;
                    &:after {
                        content: url("../assets/images/chevron-right.svg");
                        margin-left: 10px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            @include media-breakpoint-up(sm) {
                a.btn.btn-primary {
                    padding: 5px 15px;
                }
            }

            @include media-breakpoint-up(md) {
                align-items: flex-start;
            }
        }
        // typo
        h3 {
            @extend %silka_h3_cashback;
        }

        //images
        @include media-breakpoint-down(sm) {
            .cms-element-image.has-vertical-alignment {
                .cms-element-alignment.align-self-end {
                    width: 100%;
                    .cms-image-container.is-standard {
                        width: 100%;
                        img.cms-image {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
