$color-energyclass-a : #00b000;
$color-energyclass-b :#FDEB01;
$color-energyclass-c :#C7D301;
$color-energyclass-d :#FFED00;
$color-energyclass-e :#FBB900;
$color-energyclass-f :#FBB900; //same same but different
$color-energyclass-g :#E30613;

.energylabel {
    height: 27px;
    display: inline-block;
    position: relative;
    padding: 0 6px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;

    &:after {
        content: "";
        display: block;
        margin-left: 12px;
        position: absolute;
        right: -14px;
        top: 0;

        border-color: transparent transparent transparent #000000;
        border-style: solid;
        border-width: 14px 0 13px 14px;
    }

    @media only screen and (max-width: 589px) {
        &:after {
            border-width: 13px 0 14px 14px
        }
    }

    &-a {
        background: $color-energyclass-a;

        &:after {
            border-color: transparent transparent transparent $color-energyclass-a;
        }
    }

    &-b {
        background: $color-energyclass-b;
        &:after {
            border-color: transparent transparent transparent $color-energyclass-b;
        }
    }

    &-c {
        background: $color-energyclass-c;
        &:after {
            border-color: transparent transparent transparent $color-energyclass-c;
        }
    }

    &-d {
        background: $color-energyclass-d;
        &:after {
            border-color: transparent transparent transparent $color-energyclass-d;
        }
    }

    &-e {
        background: $color-energyclass-e;
        &:after {
            border-color: transparent transparent transparent $color-energyclass-e;
        }
    }

    &-f {
        background: $color-energyclass-f;
        &:after {
            border-color: transparent transparent transparent $color-energyclass-f;
        }
    }

    &-g {
        background: $color-energyclass-g;
        &:after {
            border-color: transparent transparent transparent $color-energyclass-g;
        }
    }
}
