//display thumbnails mobile PDP
.gallery-slider-thumbnails {
    @include media-breakpoint-down(md) {
        display: flex !important;
        .gallery-slider-thumbnails-item:last-child {
            margin-right: 0 !important;
        }
    }
    .gallery-slider-thumbnails-item {
        margin-right: 10px;
    }
}

// other slider overrides
.cms-block-category-slider {
    .product-slider-container {
        min-height: 265px;
    }
}

.cms-block-product-slider {
    .product-slider-container {
        min-height: 383px;
    }
}
