// hide extra info by default
.printinfo,
.printinfo-footer {
    display: none;
}
// print button styles
.print-btn {
    display: flex;
    align-items: center;
    color: $sw-color-brand-primary;
    cursor: pointer;

    i {
        padding: 0 10px;
        &:before {
            display: inline-block;
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-size: cover;
            content: "";
        }

        &.print-icon:before {
            background-image: url("../assets/images/print_icon.svg");
        }
    }
}

//print
@media print {
    @page {
        size: 210mm 297mm;
        margin: 5.25mm;
        margin-right: 5.45mm; /* for compatibility with both A4 and Letter */
    }
    // wrapper for ctl-product only
    .is-ctl-product {
        //unstick header
        .header-wrapper {
            position: relative;
        }
        //remove margin for sticky header
        main.content-main {
            margin-top: 0;
        }
        // relayout
        .col-lg-6 {
            -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
            max-width: 50% !important;
        }
        //d:n unrelated
        .breadcrumb.cms-breadcrumb,
        .product-question,
        .nav-main,
        .nav-tabs-wrapper,
        .upper-bar,
        .col.order-3.order-lg-2.header-search-col,
        .col-4.order-1.order-sm-2.header-actions-col,
        .acris-product-video-description-container.product-detail-description-text,
        .product-detail-tabs .product-detail-tabs-content .tab-content > .tab-pane.review-tab,
        #downloads-tab-pane,
        .cms-block.pos-5.cms-block-cross-selling,
        .cms-section.bg-color.pos-1.cms-section-default,
        .cms-section.bg-color.review-section.pos-2.cms-section-default,
        footer.footer-main,
        .scroll-up-container,
        .col-2.d-lg-none.header-menu-toggle,
        .cookie-permission-container,
        .product-detail-form-container,
        .gallery-slider-thumbnails-col,
        .breadcrumb.cms-breadcrumb,
        .product-get-notified-form-container,
        .compare-float-button {
            display: none;
        }
        //show printinfo
        .printinfo {
            margin-left: auto;
            display: block;
            float: right;
        }

        .printinfo,
        .printinfo-footer {
            p {
                color: $color-blue;
                .silka {
                    @extend %utopia;
                    font-size: 19px;
                    line-height: 27px;
                    letter-spacing: 0px;
                    font-weight: 700;
                    font-style: italic;
                    padding: 0 10px;
                }
            }
        }
        .printinfo-footer {
            display: block;
            text-align: center;
            background: $color-light-blue;
            p {
                padding: 30px;
            }
        }
        .header-logo-col {
            float: left;
        }
        .h3.product-detail-description-title {
            /*     display: none; // is video title also hmm */
        }
        //force image sizes, override inline style with !muy_importante
        $imgHeight: 250px;
        .gallery-slider-item,
        .gallery-slider-single-image {
            width: 250px !important;
            height: $imgHeight !important;
            min-height: unset !important;
            min-width: unset !important;
        }
        .gallery-slider-image,
        .gallery-slider-container {
            height: $imgHeight !important;
        }
        //remove weird width issue
        .gallery-slider {
            width: 100%;
        }
    }
}
