.product-slider {
    .product-slider-item {
        .card {
            border: 0;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
            .bal-category-banner {
                justify-content: center;
                border-radius: 0 0 5px 5px;
                svg {
                    display: none;
                }
            }
        }
    }
    span.detailpage {
        display: none;
    }
}
