// product-detail-tab-navigation

.nav-tabs-wrapper {
    width: 100%;
    background: $white;
    padding: 10px;

    .product-detail-tab-navigation-list {
        align-items: center;
        button {
            padding: 0 20px !important;
        }
        li {
            font-weight: 600;
        }
        li a:hover {
            border-bottom: 1px solid rgb(59, 59, 113) !important;
        }
    }

    .nav-link {
        &:focus,
        &:hover {
            border-color: transparent;
            background: transparent;
        }
    }
}
// Add header scroll margin for every tab-pane, outside main class becasue some elements are added different but always a tab-pane
.tab-pane {
    padding-bottom: 30px;

    @media screen and (min-width: 768px) and(max-width: 969px) {
        scroll-margin: 262px 0 0 0;
        -ms-scroll-margin: 262px 0 0 0;
        -webkit-scroll-margin: 262px 0 0 0;
    }
    @media screen and (min-width: 969px) and (max-width: 991px) {
        scroll-margin: 224px 0 0 0;
        -ms-scroll-margin: 224px 0 0 0;
        -webkit-scroll-margin: 224px 0 0 0;
    }
    @media screen and (min-width: 992px) and (max-width: 1307px) {
        scroll-margin: 322px 0 0 0;
        -ms-scroll-margin: 322px 0 0 0;
        -webkit-scroll-margin: 322px 0 0 0;
    }
    @media screen and (min-width: 1308px) {
        scroll-margin: 263.5px 0 0 0;
        -ms-scroll-margin: 263.5px 0 0 0;
        -webkit-scroll-margin: 263.5px 0 0 0;
    }
}
//now has a modal aswell!
.modal {
    //css override needed for slider
    .modal-footer,
    .product-detail-tabs.product-detail-cross-selling,
    .tab-pane {
        width: 100%;
    }
    .modal-header {
        background-color: $color-blue;
        .close,
        .modal-title {
            color: $color-white;
        }
    }
}
