//vraag het onze anne home teaser banner
.teaser-banner {
    align-items: center;

    %flex-behaviour {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include media-breakpoint-up(md) {
            flex-direction: column;
        }
        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }
    }
    .product-box {
        .sku {
            font-size: 17px;
            color: $color-blue !important;
            font-weight: 600 !important;
        }
        .product-price-info {
            display: flex;
            align-items: start;
            justify-content: start;
            width: 200px;
            margin-top: 0px;
            line-height: 1;
            font-size: 14px;
            color: #444;
            font-weight: 400;
        }
        .product-price.behind-request,
        .product-price-wrapper {
            font-size: 14px !important;
            color: #444;
            font-weight: 400;
            line-height: 1;
        }

        .product-image-wrapper {
            height: 250px !important;
            flex-basis: 250px;
            margin-bottom: 0;
        }
        span.list-price-price {
            display: none;
        }
    }

    .cms-element-image {
        margin-bottom: 20px;
    }

    .cms-element-banner-entry,
    .category-box {
        border: 0;
        .card {
            height: 100%;
            .card-body {
                padding: 0;
                @extend %flex-behaviour;
                .product-badges,
                .btn.btn-success,
                .product-wishlist,
                .category-from-price-badge,
                .compare-button {
                    display: none;
                }
                span.name {
                    display: block;
                }
                @include media-breakpoint-up(md) {
                    .product-info,
                    .category-info {
                        padding-left: 10px;
                    }
                    .category-image-wrapper {
                        height: unset;
                    }
                }

                .category-name {
                    .name {
                        font-size: 16px;
                        @include media-breakpoint-up(md) {
                            font-size: 17px;
                        }
                    }
                    span.fromLabel {
                        font-size: 14px;
                        color: $color-grey-6;
                        font-weight: 400;
                    }
                    .fromPrice {
                        font-size: 16px;
                        @include media-breakpoint-up(md) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .cms-block-container {
        width: 100%;
    }

    @include media-breakpoint-down(md) {
        .cms-element-image {
            .cms-image {
                margin: 0 auto;
                width: 100%;
            }
        }
    }
    .cms-element-text {
        h2 {
            @extend %stack;
            color: $color-blue;
            @include media-breakpoint-up(lg) {
                margin: 40px auto;
            }
        }
    }

    .g-0 {
        .col-12 {
            padding-top: 25px;
        }
        .col-12 .col-12,
        .col-md-4,
        .row {
            padding: 0;
            margin: 0;
        }
    }
    .col-12 {
        &.col-lg-4 {
            .cta-link {
                display: none;
                @include media-breakpoint-up(lg) {
                    align-items: center;
                    display: flex;
                }
                height: 21px;
                margin: 0;
                margin-top: 17px;
                line-height: 21px;
                &:before {
                    display: inline-flex;
                    align-items: center;
                    content: "";
                    height: 21px;
                    width: 21px;
                    background-image: url("../assets/images/schouw-i.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-right: 13px;
                }
                a {
                    text-decoration: underline;
                    color: $color-grey-7;
                }
                .info-prefix {
                    color: $color-grey-7;
                }
            }
        }
        &.col-lg-8 {
            .btn-success {
                padding: 16px 20px;
                line-height: 1;
                @include media-breakpoint-down(sm) {
                    display: block;
                }
                @include media-breakpoint-down(md) {
                    margin: 0 auto;
                }
            }
            .card-col.col-6 {
                align-items: start;
                @include media-breakpoint-up(md) {
                    align-items: center;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .product-box .card-body {
            padding: 0;
        }
    }
}
