.usps {
    list-style: none;
    padding: 0;
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;

    &__usp {
        display: flex;
        line-height: 1.5rem;
        font-weight: 500;
        font-size: 15px;
        color: $sw-color-brand-primary;

        &:not(:last-child) {
            margin-right: 16px;
        }

        &:before {
            display: inline-block;
            content: " ";
            height: 15px;
            width: 15px;
            margin-right: 9px;
            margin-top: 4px;
            background-image: url("../assets/images/usp-check.svg");
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}
