{% sw_extends '@Storefront/storefront/page/compare.html.twig' %}

{% block frosh_product_compare_page_header %}
    <h1 class="product-compare-main-header show-on-print mt-4">
        {{ "froshProductCompare.general.headline"|trans|sw_sanitize }}
    </h1>
{% endblock %}
