@import "overrides";

@import "vendor/bootstrap";
@import "vendor/bal-cms-slider-override";

@import "base/fonts";
@import "base/variables";
@import "base/typography";
@import "base/helpers";

@import "layout/index";
@import "layout/footer";
@import "layout/header";
@import "layout/main-navigation";
@import "layout/upper-bar";
@import "layout/category";
@import "layout/category-filter";
@import "layout/category-banner";
@import "layout/cookie";
@import "layout/breadcrumb";
@import "layout/product";
@import "layout/checkout";
@import "layout/compare";
@import "layout/secondary-sub-category";

@import "component/buttons";
@import "component/slider";
@import "component/icon";
@import "component/product-card";
@import "component/offcanvas";
@import "component/buy-widget";
@import "component/category-slider";
@import "component/cta-image-title";
@import "component/sticky-add-to-cart";
@import "component/review-section";
@import "component/energylabel";
@import "component/badges";
@import "component/range-slider";
@import "component/download-section-pdp";
@import "component/teaser-banner";
@import "component/print";
@import "component/gallery";
@import "component/chat";
@import "component/tooltip";
@import "component/usps";
@import "component/quickview";

@import "shopping-experience/shopping-experience";
@import "shopping-experience/banner";
@import "shopping-experience/brands";
@import "shopping-experience/product-click";
@import "shopping-experience/showroom";
@import "shopping-experience/usp";
@import "shopping-experience/listing-interruptor";
@import "shopping-experience/betty";
@import "shopping-experience/miele";
@import "shopping-experience/bal-slider";

// image in styleguide breaks layout?
figure img {
    max-width: 100%;
}

.subtitle{
    margin-top: 5px;
    margin-bottom: 30px;
    color: #4a545b !important;
}

.reviewSubtitle{
    margin-top: 5px;
    margin-bottom: 30px;
    color: #4a545b !important;
}

.review-tab .product-detail-review-item-date p{
    color: #3b3b71 !important;
}
.review-tab .product-detail-review-item-author p{
    color: #3b3b71 !important;
}

.parentreview {
    display: flex;
    flex-direction: column-reverse;
}

.review-tab .product-detail-review-item-author{
    order: 0 !important;
}

.review-tab .product-detail-review-item-date {
    order: 0 !important;
}
.review-tab .product-detail-review-item-points{
    padding-right: 315px !important;
}

@media(max-width: 675px){
    .properties-label {
        width: 50%;
    }
}

@media (max-width: 675px) {
    .product-detail-tabs .product-detail-tabs-content .tab-content .tab-pane.review-tab {
        display: none;
    }
}