{% block sw_cms_block_text_video_preview %}
    <div class="sw-cms-preview-text-video row">
        <div class="col-md-5">
            <img
                class="sw-cms-preview-text-video__img"
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
            >
            <div class="sw-cms-preview-text-video__text">
                <b>Onze wim</b>
                <i>legt het uit</i>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <img
                    class="sw-cms-preview-youtube-video__img col-md-6"
                    :src="'/administration/static/img/cms/preview_youtube.jpg' | asset"
                    alt=""
                >
                <div class="col-md-6">
                    <h4>Het gebruik von sadf asdf fadfdafsad </h4>
                    <p>usyadg fudsyaf sagfuidsyga suayf gsauy gfsuadfsuadf ghsua fgsua gsyafg suadf suafg uya fsuiadhf aifu idsuafhsa foua hdfuha sdfhauish f </p>
                </div>
            </div>
            <div class="row">
                <img
                    class="sw-cms-preview-youtube-video__img col-md-6"
                    :src="'/administration/static/img/cms/preview_youtube.jpg' | asset"
                    alt=""
                >
                <div class="col-md-6">
                    <h4>Het gebruik von sadf asdf fadfdafsad </h4>
                    <p>usyadg fudsyaf sagfuidsyga suayf gsauy gfsuadfsuadf ghsua fgsua gsyafg suadf suafg uya fsuiadhf aifu idsuafhsa foua hdfuha sdfhauish f </p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
