.betty-wrapper {
    background: $color-grey;
    @include media-breakpoint-down(md) {
        padding-bottom: 30px;
    }
    .cms-element-image-caption {
        height: unset;
        .cms-image-container.is-cover {
            .cms-image {
                object-fit: contain !important;
            }
        }
        .cms-image-caption {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;
            h2 {
                @extend %stack;
                //mob
                // font-size:29px;
                // line-height: 32px;
                //desktop
                font-size: 29px;
                line-height: 32px;
                text-align: right;
                margin-bottom: 0;
                @include media-breakpoint-up(md) {
                    padding: 0 40px;
                }
                span {
                    color: $color-blue;
                    text-align: right;
                    &:nth-child(odd) {
                        @extend %utopia;
                        @extend %utopia_h2;
                        font-size: 29px;
                        line-height: 32px;
                        display: block;
                        font-weight: 700;
                    }
                    &:nth-child(even) {
                        @extend %silka;
                        @extend %silka_h2;
                        //mob
                        // font-size:29px;
                        // line-height: 32px;
                        //desktop
                        font-size: 26px;
                        line-height: 32px;
                        font-weight: 300;
                        margin-top: -3px;
                        margin-bottom: 5px;
                        display: block;
                    }
                    &:last-child {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .category-box {
        border: 0;
        background: none;
        .category-image-wrapper {
            height: unset;
        }
        .card-body {
            padding: 0;
        }
    }
    .btn {
        @include media-breakpoint-down(md) {
            display: block;
            width: 100%;
        }
    }
}
