// listing-interruptor
*[data-mi-name] {
    .cms-element-image-caption {
        left: -40px;
        width: 100vw;
        @include media-breakpoint-up(md) {
            width: inherit;
            left: 0;
        }
    }
    .cms-image-caption {
        background: none !important;
        height: 100%;
        .cta-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-up(md) {
                justify-content: space-between;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            .row {
                width: 100%;
                height: 100%;
                align-items: center;
            }
            h2 {
                @extend %stack;
                text-align: left;
                margin-bottom: 0;
                padding: 0 40px;
                span {
                    color: $color-white;
                }
            }
            .btn {
                margin-top: auto;
                padding: 0 40px;
                @include media-breakpoint-up(md) {
                    margin-bottom: 40px;
                }
            }
        }
    }
}
