//all steez miele
//PCP USPS Block underneath the product overview
.product-group-usps {
    .cms-element-image-caption {
        .cms-image-caption {
            position: relative;
        }
    }
}
// category nav in sidebar
.cms-section-sidebar {
    .miele-navigation {
        .cms-listing-col.col-sm-6.col-lg-6.col-xl-4 {
            max-width: unset;
            margin-bottom: 2px;
        }

        .cms-element-category-listing .cms-listing-col .card.category-box .card-body .category-image-wrapper {
            display: none;
        }

        .cms-element-category-listing .category-name {
            text-align: left;
            color: $color-blue;
            font-size: 0.875rem;
        }

        .cms-element-category-listing .cms-listing-col .card.category-box .card-body {
            height: unset !important;
            padding: 4px;
            justify-content: start;
        }

        .cms-element-category-listing .cms-listing-col .card.category-box {
            height: unset;
            margin: 0;
            border: 0;
            background: $color-grey-4;
        }

        .cms-element-category-listing .category-info {
            background: transparent;
            color: $color-grey-8;
        }
    }
}

.miele-subcategory {
    .cms-element-category-listing {
        .cms-listing-row {
            height: unset !important;
            .category-box {
                .category-image-wrapper {
                    height: unset !important;
                    a {
                        .category-image {
                            max-height: unset !important;
                        }
                    }
                }
            }
        }
    }
}
