.product-click-wrapper {
    h3 {
        @extend %silka_h3;
    }
    .cms-block-container {
        @extend .container;
        .col-md-6, .col-lg-6 {
            &:nth-child(2) {
                padding: 0;
            }
        }

        .cms-element-fourtwosix-banner {
            height: 100%;
            div {
                height: 100%;
                .cms-banner-container {
                    height: 100%;
                }
                img {
                    object-fit: cover;
                    &.cms-image {
                        height: 100%;
                    }
                    @include media-breakpoint-up(lg) {
                        width: 50vw;
                        position: relative;
                    }
                }
                .mapping-container {
                    @include media-breakpoint-up(lg) {
                        width: 50vw;
                    }
                    .mapping-link {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span.btn.btn-success {
                            position: absolute;
                            display: flex;
                            left: 0;
                            font-size: 13px;
                            line-height: 36px;
                            .productName {
                                display: none;
                                @include media-breakpoint-up(lg) {
                                    display: block;
                                }
                            }
                            .icon-reset {
                                transition: 0.3s ease;
                                position: unset;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transform: unset;
                                @include media-breakpoint-up(lg) {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .highlight {
        box-shadow: none;
        .product-wishlist {
            .icon {
                &-heart {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .col-12.col-lg-6.order-1.order-lg-2 {
            padding: 0 !important;
        }
    }

    @include media-breakpoint-down(lg) {
        .col-12.col-lg-6.order-2.order-lg-1 {
            margin-bottom: 32px !important;
        }
    }
}
