.cms-section {

}

.cms-block {
    .cms-element-title {
        text-align: center;
        margin: 40px auto 30px auto;

        .cms-element-title-paragraph {
            font-size: 24px;
            line-height: 29px;
            font-weight: 400;
        }
    }
}
