{% block fa_icon_picker %}
    <div class="fa-icon-picker">

        {% block fa_icon_picker_contextual_field %}
            <sw-contextual-field v-bind="$attrs" :name="formFieldName" :disabled="disabled">
                {% block fa_icon_picker_input_prefix %}
                    <template #sw-contextual-field-prefix>
                        <div class="fa-icon-picker__previewWrapper" @click="toggleColorPicker">
                            <fa-icon :icon="selectedIcon" :family="family" :showLabel="false"></fa-icon>
                        </div>
                    </template>
                {% endblock %}

                {% block fa_icon_picker_input_field %}
                    <template #sw-field-input="{ disabled }">
                        <input class="fa-icon-picker__input"
                               v-model="selectedIcon"
                               spellcheck="false"
                               :disabled="disabled"
                               :readonly="readonly"
                               @keyup="onManualTextInput">
                    </template>
                {% endblock %}
            </sw-contextual-field>
        {% endblock %}

        {% block fa_icon_picker_popover %}
            <sw-popover v-if="visible" class="fa-icon-picker__colorpicker-position" :zIndex="zIndex">
                {% block fa_icon_picker_colorpicker %}
                    <div class="fa-icon-picker__colorpicker">
                        {% block fa_icon_picker_inputs %}
                            <div class="fa-icon-picker__row fa-icon-picker__input-row">
                                {% block sw_colorpicker_search %}
                                    <div class="fa-icon-picker__row-column">
                                        <input type="text" placeholder="search" v-model="search">
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        <div class="fa-icon-picker__pagination">
                            <button :disabled="!hasPrev" @click="prevPage">Previous</button>
                            <div>Page {{ currentPage }} of {{ totalPages }}</div>
                            <button :disabled="!hasNext" @click="nextPage">Next</button>
                        </div>

                        <div class="fa-icon-picker__select-container">
                            <div v-for="(icon, index) in visibleIcons"
                                 :key="index"
                                 class="fa-icon-picker__select-item"
                                 :class="{'fa-icon-picker__select-item--current': isIconSelected(icon)}"
                                 @click="onIconClicked(icon)">
                                <span class="fa-icon"
                                      v-html="icon.svg"
                                      :title="icon.name"
                                />
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </sw-popover>
        {% endblock %}
    </div>
{% endblock %}
