<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../../vendor/shopware/platform/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Example Plugin Settings</title>
        <title lang="de-DE">Beispiel für Plugin-Einstellungen</title>
        <title lang="nl-NL">Voorbeeld Plugin-instellingen</title>

        <input-field type="bool">
            <name>isActive</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
            <label lang="nl-NL">Actief</label>
            <defaultValue>true</defaultValue>
            <helpText>Disables all visual functionality of the plugin</helpText>
            <helpText lang="de-DE">Deaktiviert alle visuellen Funktionen des Plugins</helpText>
            <helpText lang="nl-NL">Schakelt alle visuele functionaliteit van de plug-in uit</helpText>
        </input-field>
    </card>
</config>
