{% block sw_cms_block_image_text_icon %}
<div class="sw-cms-block-image-text-icon">
    <slot name="left">
        {% block sw_cms_block_image_text_icon_slot_left %}{% endblock %}
    </slot>
    <slot name="center">
        {% block sw_cms_block_image_text_icon_slot_center %}{% endblock %}
    </slot>
    <slot name="right">
        {% block sw_cms_block_image_text_icon_slot_right %}{% endblock %}
    </slot>
</div>
{% endblock %}
