{% sw_extends '@Storefront/storefront/page/product-detail/review/review.html.twig' %}

{% block page_product_detail_review_aside %}
{% endblock %}

{% block page_product_detail_review_list_actions %}
{% endblock %}

{% block page_product_detail_review_form_container %}
    <div class="collapse multi-collapse {% if ratingSuccess == -1 %}show{% endif %}" id="review-form">
        <div class="product-detail-review-form">
            {% sw_include '@Storefront/storefront/page/product-detail/review/review-form.html.twig' %}
        </div>
    </div>
{% endblock %}
