{% block sw_cms_el_icon %}
    <div class="sw-cms-el-icon">
        <div class="sw-cms-el-icon-text">
            <sw-icon small color="#189eff" name="default-basic-shape-circle-filled"></sw-icon>
        </div>
    </div>
{% endblock %}
