{% block zeobv_cms_el_product_banner_cta_config %}
<div class="zeobv-cms-el-config-product-banner-cta">

    {% block zeobv_cms_el_product_banner_cta_config_type %}
        <sw-select-field
            v-model="element.config.type.value"
            :placeholder="$tc('zeob-cms.elements.general.config.label.displayMode')"
            :label="$tc('zeobv-cms.elements.general.config.label.displayMode')"
        >
            <option value="button">
                {{ $tc('zeobv-cms.elements.productBanner.cta.config.typeButton') }}
            </option>
            <option value="link">
                {{ $tc('zeobv-cms.elements.productBanner.cta.config.typeLink') }}
            </option>
        </sw-select-field>
    {% endblock %}

    {% block zeobv_cms_el_product_banner_cta_config_label %}
        <sw-field
            v-model="element.config.label.value"
            type="text"
            :label="$tc('zeobv-cms.elements.productBanner.cta.config.label')"
            :placeholder="$tc('zeobv-cms.elements.productBanner.cta.config.label')"
        />
    {% endblock %}

    {% block zeobv_cms_el_product_banner_cta_config_target_url %}
        <sw-field
            v-model="element.config.targetUrl.value"
            type="text"
            :label="$tc('zeobv-cms.elements.productBanner.cta.config.targetUrl')"
            :placeholder="$tc('zeobv-cms.elements.productBanner.cta.config.targetUrl')"
        />
    {% endblock %}
</div>
{% endblock %}
