{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_container %}
    {{ parent() }}

    {% if product.customFields.zeobv_quotations_can_request_quote %}
        <div class="form-row mt-1">
            {% block page_product_detail_buy_container_quotation_request %}
                <div class="col-4">
                    {# This block can be used for themes/plugins to add something in the space before the button #}
                    {% block page_product_detail_buy_container_quotation_request_before_button %}{% endblock %}
                </div>

                <div class="col-8">
                    {% block page_product_detail_buy_container_quotation_request_button %}
                        <button class="btn btn-secondary btn-block"
                                name="zeobvAddToQuotation"
                                title="{{ "zeoQuotations.detail.addQuotation"|trans }}"
                                aria-label="{{ "zeoQuotations.detail.addQuotation"|trans }}">
                            {{ "zeoQuotations.detail.addQuotation"|trans }}
                        </button>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
