{% block sw_cms_block_image_text_icon_preview %}
<div class="sw-cms-preview-image-text-icon">
    <img
        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
        alt=""
    >
    <div>
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </div>
    <img
        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
        alt=""
    >
</div>
{% endblock %}
