.sw-cms-el-preview-text-read-more {
    &.sw-cms-slot__element-preview {
        h3 {
            font-size: 8px;
        }

        p {
            font-size: 5px;
        }

        .button {
            transform: scale(0.6);
            transform-origin: left;
        }
    }
}
