{% block sw_cms_element_image %}
    <div class="sw-cms-el-image-caption" :class="displayModeClass" :style="styles">
        <img :src="mediaUrl" class="sw-cms-el-image-caption__image">

        {% block sw_cms_element_text %}
            <div class="sw-cms-el-image-caption__caption" :class="captionClasses" :style="captionStyles">
                <div class="sw-cms-el-text__mapping-preview content-editor"
                     v-html="$sanitize(demoValue)"
                     v-if="element.config.caption.source === 'mapped'">
                </div>

                <sw-text-editor v-model="element.config.caption.value"
                                @blur="onBlur"
                                @input="onInput"
                                :verticalAlign="element.config.verticalAlign.value"
                                :isInlineEdit="true">
                </sw-text-editor>
            </div>
        {% endblock %}
    </div>
{% endblock %}
