{% block zeobv_cms_element_manufacturer_config %}
    <div class="zeobv-cms-el-manufacturer-text">
        {% block zeobv_cms_element_manufacturer_text_config %}
            <div class="zeobv-cms-el-manufacturer-text__custom-field">
                <div class="form-group">
                    <label for="">{{ $tc('zeobv-cms.elements.manufacturer-text.config.customFieldLabel') }}</label>
                    <sw-entity-single-select
                        v-model="element.config.customField.value"
                        entity="custom_field"
                        :criteria="customFieldCriteria"
                        placeholder="Choose custom field"
                        size="medium"
                    >
                    </sw-entity-single-select>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
