{% block zeobv_cms_element_product_banner_cta %}
<div
    class="zeobv-cms-el-product-banner-cta"
>
    <button
        class="btn btn-primary"
        v-if="element.config.type.value == 'button'"
    >
        {{ element.config.label.value }}
    </button>

    <a
        v-if="element.config.type.value == 'link'"
    >
        {{ element.config.label.value }}
    </a>
</div>
{% endblock %}
