{% sw_extends '@FroshProductCompare/storefront/component/product/card/compare-button.html.twig' %}

{# Show both button and text. #}
{% block frosh_product_compare_add_to_compare_button %}
    <span data-add-to-compare-button="true"
            data-add-to-compare-button-options="{{ addToCompareOptions|json_encode }}"
            class="btn btn-block btn-compare"
            title="{{ "froshProductCompare.general.addToCompare"|trans|striptags }}">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="m10.8214 15.8571 3.1607 3.1608c.25.25.375.5357.375.8571 0 .2857-.125.5536-.375.8036l-3.0535 3.1071c-.1429.1429-.3215.2143-.5357.2143-.1429 0-.3215-.0714-.5358-.2143-.3214-.3928-.3214-.75 0-1.0714L12 20.5714H7.1786c-1.8215 0-3.0715-.8035-3.75-2.4107-.3215-.8214-.4822-1.9821-.4822-3.4821V7.3929C2.1607 7.25 1.4821 6.857.9107 6.2143.3036 5.5 0 4.6786 0 3.75c0-1.0357.366-1.9196 1.0982-2.6518C1.8304.3661 2.7142 0 3.75 0c1.0357 0 1.9196.366 2.6518 1.0982C7.1339 1.8304 7.5 2.7142 7.5 3.75c0 1-.3214 1.8393-.9643 2.5179-.5714.6071-1.2678 1-2.0893 1.1785v7.2322c0 1.4286.1607 2.4821.4822 3.1607.4285.8214 1.1785 1.2321 2.25 1.2321h4.7678L9.75 16.9286c-.1429-.1429-.2143-.3215-.2143-.5357 0-.2143.0714-.3929.2143-.5358.1429-.1428.3214-.2142.5357-.2142.2143 0 .3929.0714.5357.2142Zm-8.6785-10.5C2.607 5.7857 3.1429 6 3.75 6s1.134-.2232 1.5804-.6696C5.7768 4.8839 6 4.357 6 3.75s-.2232-1.134-.6696-1.5804C4.8839 1.7232 4.357 1.5 3.75 1.5s-1.134.2232-1.5804.6696C1.7232 2.6161 1.5 3.143 1.5 3.75s.2143 1.1429.6429 1.6071Zm18.9107 11.25c.7857.1786 1.4643.5715 2.0357 1.1786C23.6964 18.5 24 19.3214 24 20.25c0 1.0357-.3661 1.9196-1.0982 2.6518C22.1696 23.6339 21.2857 24 20.25 24s-1.9196-.3661-2.6518-1.0982C16.8661 22.1696 16.5 21.2857 16.5 20.25c0-1 .3214-1.8393.9643-2.5179.5714-.6071 1.2678-1 2.0893-1.1785V9.3214c0-1.3928-.1607-2.4285-.4822-3.1071-.4285-.8572-1.1785-1.2857-2.25-1.2857h-4.7678L14.25 7.0714c.1429.1429.2143.3215.2143.5358 0 .2142-.0714.3928-.2143.5357-.1429.1428-.3214.2142-.5357.2142-.2143 0-.3929-.0714-.5357-.2142L10.0179 4.982c-.25-.25-.375-.5357-.375-.8571 0-.2857.125-.5536.375-.8036L13.0714.2143C13.2143.0714 13.3929 0 13.6071 0c.1429 0 .3215.0714.5358.2143.3214.3928.3214.75 0 1.0714L12 3.4286h4.8214c1.8215 0 3.0715.8035 3.75 2.4107.3215.8214.4822 1.9821.4822 3.4821v7.2857Zm-2.4107 5.25c.4642.4286 1 .6429 1.6071.6429s1.1339-.2232 1.5804-.6696c.4464-.4465.6696-.9733.6696-1.5804s-.2232-1.1339-.6696-1.5804C21.3839 18.2232 20.8571 18 20.25 18s-1.1339.2232-1.5804.6696c-.4464.4465-.6696.9733-.6696 1.5804s.2143 1.1429.6429 1.6071Z" fill="#3B3B71"/>
        </svg>
        <span class="btn-text">{{ "froshProductCompare.general.addToCompare"|trans|sw_sanitize }}</span>
    </span>
{% endblock %}
