<a class="btn btn-secondary btn-block btn-buy" href="{{ "detail.hidePrice.buttonLink"|trans({'%%product_name%': product.name,'%%product_sku%': product.productNumber})|sw_sanitize }}"
   title="{{ "detail.hidePrice.buttonText"|trans|sw_sanitize }}"
   aria-label="{{ "detail.hidePrice.buttonText"|trans|sw_sanitize }}">
    {{ "detail.hidePrice.buttonText"|trans|sw_sanitize }}
</a>