{% block sw_cms_element_text_image_text_uwaankooponzezorg_preview %}
<div class="sw-cms-preview-text-image-text-uwaankooponzezorg">
    <div>
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </div>

    <div>
    <img
        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
        alt=""
    >
    </div>
    <div>

        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </div>
</div>
{% endblock %}
