{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/categories.html.twig' %}

 {% block layout_navigation_offcanvas_navigation_categories %}
     {{ parent() }}

     <div class="review-mobile-menu" >
         <a href="https://nl.trustpilot.com/review/www.deschouwwitgoed.nl" title="Trustpilot de Schouw Witgoed" class="review-wrapper" >
                            <span class="review-text-first" style="color:white;">
                                {{ "upper-bar.review.text-first"|trans|sw_sanitize }} {{ "upper-bar.review.score"|trans|sw_sanitize }}
                            </span>
             <br />
             <span class="review-score">
                                {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                                    points: 0 + "upper-bar.review.score"|trans,
                                    style: 'text-primary'
                                } %}
                            </span>
             <br />
             <span class="review-text-second" style="color:white;">
                                {{ "upper-bar.review.text-last"|trans|sw_sanitize }}
                            </span>
         </a>
     </div>
 {% endblock %}
