{% block sw_cms_element_image_uwaankooponzezorg %}
<div
    class="sw-cms-el-image-uwaankooponzezorg"
    :class="displayModeClass"
    :style="styles"
>
    {% block sw_cms_element_image_uwaankooponzezorg_content %}
    <img
        :src="mediaUrl"
        :style="imgStyles"
        alt=""
    >
    {% endblock %}
</div>
{% endblock %}
