{% block sw_cms_el_config_text_icon %}
<div class="sw-cms-el-config-text-icon">
    <sw-tabs class="sw-cms-el-config-text__tabs" defaultItem="general">
        <template slot-scope="{ active }" >
            {% block sw_cms_el_config_text_icon_tab_layout%}
            <sw-tabs-item :title="$tc('sw-cms.elements.text-icon.tab.general')"
                          name="general"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.text-icon.tab.general') }}
            </sw-tabs-item>
            {% endblock %}

            {% block sw_cms_el_config_text_icon_tab_icon %}
            <sw-tabs-item :title="$tc('sw-cms.elements.text-icon.tab.icon')"
                          name="icon"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.text-icon.tab.icon') }}
            </sw-tabs-item>
            {% endblock %}

            {% block sw_cms_el_config_text_icon_tab_text %}
            <sw-tabs-item :title="$tc('sw-cms.elements.text-icon.tab.text')"
                          name="text"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.text-icon.tab.text') }}
            </sw-tabs-item>
            {% endblock %}

            {% block sw_cms_el_config_text_icon_tab_tooltip %}
            <sw-tabs-item :title="$tc('sw-cms.elements.text-icon.tab.tooltip')"
                          name="tooltip"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.text-icon.tab.tooltip') }}
            </sw-tabs-item>
            {% endblock %}
        </template>

        <template slot="content" slot-scope="{ active }">
            <sw-container v-if="active === 'general'" class="sw-cms-el-config-text__tab-caption">
                <div class="sw-cms-el-config-text-icon__layout-wrapper">
                    <sw-cms-text-image-layout
                        :label="$tc('sw-cms.elements.text-icon.config.label.textImageLayout')"
                        :selected="element.config.layout.value"
                        @change="onLayoutChanged">
                    </sw-cms-text-image-layout>
                </div>
            </sw-container>

            <sw-container v-if="active === 'icon'" class="sw-cms-el-config-text__tab-caption">
                <div class="sw-cms-el-config-text-icon__icon-wrapper">
                    <div class="sw-cms-el-config-text-icon__icon-setting">
                        <div class="sw-cms-el-config-text-icon__input-icon">
                            <fa-icon-picker :label="$tc('sw-cms.elements.text-icon.config.label.icon')"
                                            :icon="element.config.icon.value"
                                            :iconColor="element.config.iconColor.value"
                                            :family="element.config.iconFamily.value"
                                            @change="onIconChanged">
                            </fa-icon-picker>
                        </div>

                        <div class="sw-cms-el-config-text-icon__input-iconcolor">
                            <sw-colorpicker :label="$tc('sw-cms.elements.text-icon.config.label.iconColor')"
                                            v-model="element.config.iconColor.value"
                                            colorOutput="hex"
                                            :zIndex="1001"
                                            :alpha="true">
                            </sw-colorpicker>
                        </div>

                        <div class="sw-cms-el-config-text-icon__input-iconSize">
                            <sw-text-field :label="$tc('sw-cms.elements.text-icon.config.label.iconSize')"
                                           :placeholder="$tc('sw-cms.elements.text-icon.config.placeholder.exampleIconSize')"
                                           v-model="element.config.iconSize.value"
                                           @input="onChangeIconSize">
                            </sw-text-field>
                        </div>

                    </div>

                    <div class="sw-cms-el-config-text-icon__icon-preview-container">
                        <div class="sw-cms-el-config-text-icon__icon-preview">
                            <fa-icon :icon="element.config.icon.value" :size="element.config.iconSize.value" :family="element.config.iconFamily.value" :color="element.config.iconColor.value" :showLabel="false"></fa-icon>
                            <small class="preview-title">{{ $tc('sw-media.sidebar.sections.preview') }}</small>
                        </div>
                    </div>
                </div>
            </sw-container>

            <sw-container v-if="active === 'text'" class="sw-cms-el-config-text__tab-caption">
                <div class="sw-cms-el-config-text-icon__content-wrapper">
                    <div class="sw-cms-el-config-text-icon__input-content">
                        {% block sw_cms_el_config_text_icon_icon_content_editor%}
                        <sw-text-editor v-model="element.config.content.value"
                                        @input="onContentInput"
                                        @blur="onContentBlur">
                        </sw-text-editor>

                        <div class="sw-cms-el-config-text__mapping-preview" slot="preview" slot-scope="{ demoValue }">
                            <div v-html="$sanitize(demoValue)"></div>
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </sw-container>

            <sw-container v-if="active === 'tooltip'" class="sw-cms-el-config-text__tab-caption">
                <div class="sw-cms-el-config-text-icon__layout-wrapper">
                    <sw-text-field :label="$tc('sw-cms.elements.text-icon.config.label.tooltip')"
                                   :placeholder="$tc('sw-cms.elements.text-icon.config.placeholder.exampleTooltip')"
                                   v-model="element.config.tooltip.value"
                                   @input="onChangeTooltip">
                    </sw-text-field>
                </div>
            </sw-container>
        </template>
    </sw-tabs>
</div>
{% endblock %}
