.sw-cms-el-config-text-icon {
    &__layout-wrapper {
        margin-bottom: 20px;
    }

    &__icon-wrapper {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;

        & > div {
            width: 50%;
        }
    }

    &__icon-preview{
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        height: 100%;
        text-align: center;

        .preview-title {
            display: block;
            margin-top: 10px;
        }
    }
}
