{% block sw_cms_element_text_read_more %}
    <div class="sw-cms-el-text-read-more">
        <div class="sw-cms-el-text-read-more__layout">
            <div class="sw-cms-el-text">
                <div class="sw-cms-el-text__mapping-preview content-editor"
                     v-html="$sanitize(demoValue)"
                     v-if="element.config.initialContent.source === 'mapped'">
                </div>

                <sw-text-editor v-else
                                v-model="element.config.initialContent.value"
                                :isInlineEdit="true">
                </sw-text-editor>

                <div v-if="expandedContentVisible">
                    <div class="sw-cms-el-text__mapping-preview content-editor"
                         v-html="$sanitize(demoValue)"
                         v-if="element.config.expandedContent.source === 'mapped'">
                    </div>

                    <sw-text-editor v-else
                                    v-model="element.config.expandedContent.value"
                                    :isInlineEdit="true">
                    </sw-text-editor>
                </div>

                <button class="sw-button" :class="'sw-button--'+element.config.expandButtonType.value" @click="toggleExpandedContent">
                    {{ element.config.expandButtonLabel.value }}
                </button>
            </div>
        </div>
    </div>
{% endblock %}
