{% block sw_cms_el_text_product_video1_preview %}
    <div class="sw-cms-el-preview-text-product-video1">
        <img
            class="sw-cms-el-preview-text-product-video1__img"
            :src="'/administration/static/img/cms/preview_youtube.jpg' | asset"
            alt=""
        >
        <img
            class="sw-cms-el-preview-text-product-video1__icon"
            :src="'/administration/static/img/cms/youtube-icon.png' | asset"
            alt=""
        >
    </div>
{% endblock %}
