.zeobv-cms-block-product-banner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
    padding: 15px;

    &__right {
        .sw-cms-slot {
            height: unset;
        }

        &-products {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 10px;
        }
    }
}
