{% block sw_cms_element_text_product_video1 %}

        <div class="sw-cms-el-text-product-video row">
            <div class="col-6">
                <iframe
                    class="sw-cms-el-text-product-video__video"
                    :src="videoUrl"
                ></iframe>
            </div>
            <div class="col-6 sw-cms-el-text-product-video__text">
                <h4>{{ element.config.videoHeader.value }}</h4>
                <sw-text-editor
                    v-model="element.config.content.value"
                    :disabled="disabled"
                    :is-inline-edit="true"
                    sanitize-input
                    @blur="onBlur"
                    @input="onInput"
                />
            </div>
        </div>

{% endblock %}
