{% block sw_cms_element_image_caption_preview %}
    <div class="sw-cms-el-preview-image-caption">
        <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">

        <div class="sw-cms-el-preview-image-caption__text sw-cms-el-preview-image-caption__text-bottom" style="background:#D1D9E0">
            <p style="color: #52667A;">Lorem Ipsum dolor</p>
        </div>
    </div>
{% endblock %}
