{% block sw_cms_block_text_video %}
    <div class="sw-cms-block-text-video" style="display: flex;">
        <slot name="imageText">
        </slot>
        <slot name="textVideo1">
        </slot>
        <slot name="textVideo2">
        </slot>
    </div>
{% endblock %}
