{% block zeobv_cms_block_category_list_preview %}
    <div class="zeobv-cms-el-manufacturer-text">
        <div class="zeobv-cms-el-manufacturer-text__content">
            {{ $tc('zeobv-cms.blocks.product.manufacturerText.label') }}
        </div>
    </div>
{% endblock %}
