{% sw_extends '@Storefront/storefront/page/checkout/cart/cart-product-header.html.twig' %}

{% block page_checkout_cart_header_unit_price %}
    <div class="col-12 col-sm-8 col-md-4 quotation-item-comment">
        {{ "zeoQuotations.checkout.cart.commentHeader"|trans }}
    </div>
{% endblock %}

{% block page_checkout_cart_header_total_price %}{% endblock %}
