{% block sw_cms_block_icon_preview %}
<div class="sw-cms-preview-icon">
    <img
        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
        alt=""
    >
</div>
{% endblock %}
