{% block zeobv_cms_element_product_banner_cta %}
<div
    class="zeobv-cms-el-product-banner-cta"
>
    <sw-cms-category-box-preview v-if="element.config.type.value == 'category'" />
    <sw-cms-product-box-preview v-if="element.config.type.value == 'product'" />

</div>
{% endblock %}
