{% block zeobv_cms_block_category_list %}
    <div class="zeobv-cms-block-manufacturer-text">
        <slot name="content">{% block zeobv_cms_block_category_list_slot_list %}{% endblock %}</slot>
    </div>
{% endblock %}
