{% block sw_cms_block_image_uwaankooponzezorg %}
<div>
    <slot name="image-uwaankooponzezorg">
        {% block sw_cms_block__image_uwaankooponzezorg_slot %}{% endblock %}
    </slot>
</div>
{% endblock %}
