.zeobv-cms-preview-product-banner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
    padding: 15px;

    &__right {
        &-products {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 10px;
        }
    }
}
