{% block zeobv_cms_element_manufacturer_text %}
    <div class="zeobv-cms-el-manufacturer-text">
        <slot name="content">
            {% block zeobv_cms_element_manufacturer_text_slot_content %}{% endblock %}
        </slot>
        {% block zeobv_cms_element_manufacturer_text_text %}
            <div class="zeobv-cms-el-manufacturer-text__form">
                <div class="form-group">
                    <label for="">{{ $tc('zeobv-cms.elements.manufacturer-text.config.customFieldLabel') }}</label>
                    <sw-entity-single-select
                        v-model="element.config.customField.value"
                        entity="custom_field"
                        :criteria="customFieldCriteria"
                        placeholder="Choose custom field"
                        size="medium"
                    >
                    </sw-entity-single-select>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
