{% block page_product_detail_buy_modal %}
	<div class="modal fade" id="addToCartModal" tabindex="-1" role="dialog" aria-labelledby="addToCartModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addToCartModalLabel"> {{ 'product.add-to-cart-modal.add-to-cart'|trans|sw_sanitize }}

					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							{% block page_product_detail_add_to_cart_modal_headline %}
								<p class="productname"> {{ page.product.translated.name }}
								</p>
							{% endblock %}
						</div>
						<div class="col-12 col-md-5">


							{% if page.product.media %}
								{% block page_product_detail_add_to_cart_modal_image_gallery %}
									{% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                                                'mediaItems': mediaItems,
                                                'zoom': true,
                                                'zoomModal': true,
                                                'displayMode': 'contain',
                                                'gutter': 5,
                                                'minHeight': '430px',
                                                'navigationArrows': 'inside',
                                                'navigationDots': 'inside',
                                                'galleryPosition': 'left',
                                                'isProduct': true,
                                                'fallbackImageTitle': page.product.translated.name,
                                                'startIndexThumbnails': page.product.cover.position + 1,
                                                'startIndexSlider': page.product.cover.position + 1
                                            } %}
								{% endblock %}
							{% endif %}
						</div>
						<div class="col-12 col-md-7">
							{% block page_product_detail_add_to_cart_modal_buy_widget %}
								{% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
							{% endblock %}

							<button type="button" class="btn btn-secondary" data-dismiss="modal"> {{ 'product.add-to-cart-modal.close-modal-keep-shopping'|trans|sw_sanitize }}</button>
						</div>

					</div>
				</div>
				<div class="modal-footer">
					{% block page_product_detail_cross_selling %}
						<div class="product-detail-tabs product-detail-cross-selling"></div>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
