<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../../vendor/shopware/platform/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Theme Settings</title>

        <input-field type="bool">
            <name>activeSocialFooter</name>
            <label>Enable Social Icon In Footer</label>
        </input-field>

        <input-field type="single-select">
            <name>footerBottomAlignment</name>
            <label>Footer Bottom Alignment</label>
            <options>
                <option>
                    <id>left</id>
                    <name>Left</name>
                </option>
                <option>
                    <id>center</id>
                    <name>Center</name>
                </option>
                <option>
                    <id>right</id>
                    <name>Right</name>
                </option>
            </options>
            <defaultValue>center</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Header</title>
        <input-field type="checkbox">
            <name>activateSwitch</name>
            <label>Active Top Bar Secondary Menu</label>
        </input-field>
    </card>
</config>
