{% block cms_element_image_tweleve_column %}

        <div class="row wibo-cat-slider">
            <div class="col">
                <div class="container">
                    <div class="cms-element-{{ element.type }} has-vertical-alignment {{ containerClass }}">
                        {% block element_product_slider_alignment %}
                            {% set productSliderOptions = {
                                productboxMinWidth: '120px' ,
                                slider: {
                                    gutter: 30,
                                    autoplayButtonOutput: false,
                                    nav: false,
                                    mouseDrag:  true,
                                    controls: true,
                                    autoplay: true
                                }
                            } %}

                            {% block element_product_slider_slider %}
                                <div
                                    class="base-slider"
                                    data-product-slider="true"
                                    data-product-slider-options="{{ productSliderOptions|json_encode }}">

                                    {% block element_product_slider_title %}

                                        <div class="tweleve-column-slider">
                                            <p>{{ element.config.text.value }}</p>
                                        </div>
                                    {% endblock %}


                                    {% block element_product_slider_inner %}
                                        {% block element_product_slider_element %}
                                            <div class="product-slider-container"
                                                 data-product-slider-container="true">
                                                {%  set results = element.config.sliderItems.value %}
                                                {% for elementMedia in results %}

                                                        {% block element_product_slider_inner_default_item %}
                                                            <div class="product-slider-item">
                                                                {% sw_include '@Storefront/storefront/component/slider/cms-element-image-tweleve-column-slider.html.twig' with {
                                                                    'layout': 'standard',
                                                                    'displayMode': 'standard'
                                                                } %}
                                                            </div>
                                                        {% endblock %}
                                                {% endfor %}
                                            </div>
                                        {% endblock %}

                                        {% block element_product_slider_controls %}
                                            <div class="product-slider-controls-container">
                                                <div class="base-slider-controls google-review-button-control"
                                                     data-product-slider-controls="true">
                                                    {% block element_product_slider_controls_items %}
                                                        <button class="base-slider-controls-prev product-slider-controls-prev has-border"></button>
                                                        <button class="base-slider-controls-next product-slider-controls-next has-border"></button>
                                                    {% endblock %}
                                                </div>
                                            </div>
                                        {% endblock %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        {% endblock %}

                    </div>
                </div>
            </div>
        </div>
{% endblock %}
