{% sw_extends '@ZeobvCmsListing/storefront/element/cms-element-category-listing.html.twig' %}

{% block element_category_listing %}
    {# @var result \Shopware\Core\Framework\DataAbstractionLayer\Search\EntitySearchResult #}
    {% set searchResult = element.data.listing %}
    {% set enableListSlider = element.config.enableListSlider.value %}

    {% if element.translated.config.boxLayout.value != 'detailed' %}
        {% set listingColumns = 'col-sm-6 col-lg-4 col-xl-3' %}
    {% endif %}

    {% if section and section.type == 'sidebar' %}
        {% set listingColumns = 'col-sm-6 col-lg-6 col-xl-4' %}
    {% endif %}

    {% set slot = page.cmsPage.firstElementOfType('category-listing') %}

    {% set filterUrl = null %}
    {% set dataUrl = null %}

    {% if searchResult.currentFilters.navigationId %}
        {% set filterUrl = url('frontend.cms.navigation.filter', { navigationId: searchResult.currentFilters.navigationId }) %}
        {% set dataUrl = url('frontend.cms.navigation.page', { navigationId: searchResult.currentFilters.navigationId }) %}
    {% endif %}

    {% set sidebar = sectionType == 'sidebar' %}
    {% set params = { slots: slot.id, 'no-aggregations': 1 } %}
    {% block element_category_listing_wrapper %}
        {% block element_category_listing_wrapper_content %}
            {% set productSliderOptions = {
                productboxMinWidth: '210px' ,
                slider: {
                    gutter: 30,
                    autoplayButtonOutput: false,
                    nav: true,
                    mouseDrag: true,
                    controls: false,
                    autoplay: true
                }
            } %}
            <div class="{% if enableListSlider %}base-slider{% endif %} cms-element-category-listing" {% if enableListSlider %}data-product-slider="true" data-product-slider-options="{{ productSliderOptions|json_encode }}" {% endif %}>
                {% block element_category_listing_row %}
                    <div class="{% if enableListSlider %}product-slider-container{% else %} row cms-listing-row js-listing-wrapper{% endif %}" {% if enableListSlider %}data-product-slider-container="true"{% endif %}>
                        {% if searchResult.total > 0 %}
                            {% block element_category_listing_col %}
                                {% for category in searchResult %}
                                    {% if loop.index <= element.translated.config.limit.value|number_format %}
                                    <div class="
                                                {% if enableListSlider %}
                                                product-slider-item
                                                {% else %}
                                                cms-listing-col {{ listingColumns }} box-layout-{{ element.translated.config.boxLayout.value }}{% endif %}">
                                        {% block element_category_listing_box %}
                                            {% sw_include '@Storefront/storefront/component/category/card/box.html.twig' with {
                                                'layout': element.translated.config.boxLayout.value,
                                                'displayMode': element.translated.config.displayMode.value,
                                                'showFromPriceTag': element.translated.config.showFromPriceTag.value
                                            } %}
                                        {% endblock %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endblock %}
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

    {% endblock %}
{% endblock %}
