{% block cms_element_image_text_icon %}

        <div class="row schouw-cat-slider">
            <div class="col">
                <div class="container">
                    <div class="cms-element-{{ element.type }} has-vertical-alignment {{ containerClass }}">
                        {% block element_product_slider_alignment %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

