{% block element_product_slider %}
    {% if block.cssClass == 'mobile-slider' %}
    {% if element.slot == 'slot-a' or element.slot == 'slot-c' %}
        <div class="product-slider-item" data-cms-element-id="{{ element.id }}">
            <div class="card">
                <div class="card-body">
    {% endif %}
    {% endif %}

    {% if not sliderConfig %}
		{% set sliderConfig = element.fieldConfig.elements %}
	{% endif %}
	<div class="cms-element-{{ element.type }}">
        {% block element_text_alignment %}
            {% if element.config.content.value %}
                {{ element.config.content.value|raw }}
            {% endif %}
        {% endblock %}
	</div>
{% endblock %}
