{% block sw_cms_element_text_icon_preview %}
    <div class="sw-cms-el-preview-text-icon">
        <fa-icon icon="thumbs-up" color="#6ad5f0" family="regular" size="30px"></fa-icon>
        <span>Lorem Ipsum dolor</span>
    </div>
{% endblock %}
