// Utopia Std
@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-Semibold.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-Semibold.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-Italic.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-Italic.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-Capt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-Capt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-Capt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-Regular.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-Regular.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-BoldSubh.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-BoldSubh.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-BoldSubh.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-SemiboldDisp.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldDisp.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldDisp.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-DispIt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-DispIt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-DispIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-BoldIt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-BoldIt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-SubhIt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-SubhIt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-SubhIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-BoldCapt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-BoldCapt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-BoldCapt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-Bold.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-Bold.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-BoldSubhIt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-BoldSubhIt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-BoldSubhIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-Disp.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-Disp.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-Disp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-SemiboldCaptIt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldCaptIt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldCaptIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-BoldDispIt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-BoldDispIt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-BoldDispIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-SemiboldIt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldIt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-BoldDisp.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-BoldDisp.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-BoldDisp.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-SemiboldCapt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldCapt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldCapt.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-BlackHeadline.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-BlackHeadline.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-BlackHeadline.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-SemiboldSubh.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldSubh.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldSubh.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-Subh.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-Subh.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-Subh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-SemiboldSubhIt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldSubhIt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldSubhIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-SemiboldDispIt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldDispIt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-SemiboldDispIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-BoldCaptIt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-BoldCaptIt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-BoldCaptIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Utopia Std';
    src: url('../assets/font/Utopia/UtopiaStd-CaptIt.woff2') format('woff2'),
    url('../assets/font/Utopia/UtopiaStd-CaptIt.woff') format('woff'),
    url('../assets/font/Utopia/UtopiaStd-CaptIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


// SILKA
@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-Bold.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-Bold.woff') format('woff'),
    url('../assets/font/Silka/Silka-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka Extra';
    src: url('../assets/font/Silka/Silka-ExtraLightItalic.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-ExtraLightItalic.woff') format('woff'),
    url('../assets/font/Silka/Silka-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-Regular.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-Regular.woff') format('woff'),
    url('../assets/font/Silka/Silka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-Thin.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-Thin.woff') format('woff'),
    url('../assets/font/Silka/Silka-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-ThinItalic.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-ThinItalic.woff') format('woff'),
    url('../assets/font/Silka/Silka-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-Black.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-Black.woff') format('woff'),
    url('../assets/font/Silka/Silka-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-BlackItalic.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-BlackItalic.woff') format('woff'),
    url('../assets/font/Silka/Silka-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-RegularItalic.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-RegularItalic.woff') format('woff'),
    url('../assets/font/Silka/Silka-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-MediumItalic.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-MediumItalic.woff') format('woff'),
    url('../assets/font/Silka/Silka-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-LightItalic.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-LightItalic.woff') format('woff'),
    url('../assets/font/Silka/Silka-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-Light.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-Light.woff') format('woff'),
    url('../assets/font/Silka/Silka-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka Extra';
    src: url('../assets/font/Silka/Silka-ExtraLight.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-ExtraLight.woff') format('woff'),
    url('../assets/font/Silka/Silka-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-SemiBold.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-SemiBold.woff') format('woff'),
    url('../assets/font/Silka/Silka-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-Medium.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-Medium.woff') format('woff'),
    url('../assets/font/Silka/Silka-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-SemiBoldItalic.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-SemiBoldItalic.woff') format('woff'),
    url('../assets/font/Silka/Silka-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Silka';
    src: url('../assets/font/Silka/Silka-BoldItalic.woff2') format('woff2'),
    url('../assets/font/Silka/Silka-BoldItalic.woff') format('woff'),
    url('../assets/font/Silka/Silka-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
