// GENERAL SILKA // SANS SERIF
%silka {
    font-family: $sw-font-family-base;
}
%silka_p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    @include media-breakpoint-up(md) {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0px;
    }
}
%silka_h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 34px;
    @include media-breakpoint-up(md) {
        font-size: 52px;
        line-height: 50px;
    }
}
%silka_h2 {
    font-size: 48px;
    line-height: 46px;
    font-weight: 300;
    @include media-breakpoint-up(md) {
        font-size: 52px;
        line-height: 46px;
        font-weight: 300;
    }
}

%silka_h3 {
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;

    @include media-breakpoint-up(md) {
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.5032259821891785px;
    }
}

%silka_h4 {
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0.5px;
    font-weight: 400;

    @include media-breakpoint-up(md) {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.5px;
        font-weight: 400;
    }
}

%silka_h5 {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.5px;
    font-weight: 400;
    @include media-breakpoint-up(md) {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.4px;
    }
}
// other font style
%silka_h3_cashback {
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
    @include media-breakpoint-up(md) {
        font-size: 40px;
        line-height: 48px;
    }
}
// %silka_h6 {
// @include media-breakpoint-up(md) {}
// }
.silka {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend %silka;
    }
    p {
        @extend %silka_p;
    }
    h1 {
        @extend %silka_h1;
    }
    h2 {
        @extend %silka_h2;
    }
    h3 {
        @extend %silka_h3;
    }
    h4 {
        @extend %silka_h4;
    }
    h5 {
        @extend %silka_h5;
    }
    // h6 {
    //     @extend %silka_h6;
    // }
}

// GENERAL UTOPIA // SERIF
%utopia {
    font-family: $sw-font-family-headline-italic;
    font-style: italic;
    // @include media-breakpoint-up(md) {
    // }
}
// %utopia_p {
// }
%utopia_h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 50px;
    @include media-breakpoint-up(md) {
    }
}

%utopia_h2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 46px;
    @include media-breakpoint-up(md) {
    }
}
// %utopia_h3 {

// @include media-breakpoint-up(md) {
// }
// }
// %utopia_h4 {
// @include media-breakpoint-up(md) {
// }
// }
// %utopia_h5 {
// @include media-breakpoint-up(md) {
// }
// }
// %utopia_h6 {
// @include media-breakpoint-up(md) {
// }
// }
// GENERAL UTOPIA
.utopia {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend %utopia;
    }

    // p {
    //     @extend %utopia_p;
    // }
    h1 {
        @extend %utopia_h1;
    }
    h2 {
        @extend %utopia_h2;
    }
    // h3 {
    //     @extend %utopia_h3;
    // }
    // h4 {
    //     @extend %utopia_h4;
    // }
    // h5 {
    //     @extend %utopia_h5;
    // }
    // h6 {
    //     @extend %utopia_h6;
    // }
}

.title-italic {
    @extend %utopia;
    @extend %utopia_h2;
    font-style: italic;
}

// typography stack
%stack {
    span {
        &:nth-child(odd) {
            @extend %utopia;
            @extend %utopia_h2;
            display: block;
            font-weight: 700;
            font-size: 38px;
            line-height: 38px;
            @include media-breakpoint-up(md) {
                font-size: 52px;
                line-height: 46px;
            }
        }
        &:nth-child(even) {
            @extend %silka;
            font-size: 36px;
            line-height: 36px;
            font-weight: 300;
            @include media-breakpoint-up(md) {
                font-size: 52px;
                line-height: 46px;
                font-weight: 300;
            }

            margin-top: -3px;
            margin-bottom: 5px;
            display: block;
        }
        &:last-child {
            margin-bottom: 15px;
        }
    }
}
