{% sw_extends '@Storefront/storefront/block/cms-block-manufacturer-text.html.twig' %}

{% block block_zeobv_manufacturer_text %}
	{% if block.slots.getSlot('content').getData().getContent() %}
		<div id="warrenty-tab-pane" class="tab-pane warrenty-tab-pane col-12" data-cms-element-id=" {{ element.id }} ">
			{% block block_zeobv_manufacturer_text_inner %}
				<div class="zeobv-ce-manufacturer-text">
					<div class="zeobv-ce-manufacturer-text__title">
						<div class="element-title">
							<h2 class="element-title-paragraph">{{ 'zeobv.cms-elements.block.manufacturer-text.title'|trans }}
							</h2>
						</div>
					</div>
					<div class="zeobv-ce-manufacturer-text__content"> {{ block.slots.getSlot('content').getData().getContent()|raw }}
					</div>
				</div>
			{% endblock %}
		</div>
	{% endif %}
{% endblock %}
