{% block sw_cms_text_image_layout %}
    <sw-block-field class="sw-field--text-image" v-bind="$attrs" :name="formFieldName">
        <template #sw-field-input="{identification, helpText, error}">
            <div class="sw-cms-text-image-layout">
                <div class="sw-cms-text-image-layout__layout"
                     v-for="(layoutName, layout) in layouts"
                     @click="selectLayout(layout)"
                     :class="layoutClasses(layout)"
                     :title="layoutName">
                    <div class="sw-cms-text-image-layout__sample-container">
                        <div class="sw-cms-text-image-layout__sample-icon">
                            <fa-icon icon="image" size="35px"></fa-icon>
                        </div>
                        <div class="sw-cms-text-image-layout__sample-text">
                            <fa-icon icon="align-left" size="28px"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </sw-block-field>
{% endblock %}
