{% block sw_cms_element_category_slider_config %}
<div class="sw-cms-el-config-category-slider">
	{% block sw_cms_element_category_slider_config_tabs %}
		<sw-tabs class="sw-cms-el-config-category-slider__tabs" defaultItem="content">
			<template slot-scope="{ active }">
				{% block sw_cms_element_category_slider_config_tab_content %}
					<sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.content')" name="content" :activeTab="active">
						{{ $tc('sw-cms.elements.general.config.tab.content') }}
					</sw-tabs-item>
				{% endblock %}
				{% block sw_cms_element_category_slider_config_tab_options %}
					<sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.settings')" name="settings" :activeTab="active">
						{{ $tc('sw-cms.elements.general.config.tab.settings') }}
					</sw-tabs-item>
				{% endblock %}
			</template>

			<template slot="content" slot-scope="{ active }">
				{% block sw_cms_element_category_slider_config_content %}
					<sw-container v-if="active === 'content'" class="sw-cms-el-config-category-slider__tab-content">
						{% block sw_cms_element_category_slider_config_content_title %}
							<sw-field type="text" :label="$tc('sw-cms.elements.categorySlider.config.label.title')" :placeholder="$tc('sw-cms.elements.categorySlider.config.placeholder.title')" v-model="element.config.title.value"></sw-field>
						{% endblock %}
						<template v-if="element.config.categories.source === 'category_stream'">
							{% block sw_cms_element_category_slider_config_content_category_stream_select %}
								<sw-entity-single-select entity="category_stream" class="sw-cms-el-config-category-slider__category-stream-select" :label="$tc('sw-cms.elements.productSlider.config.label.productStreamChoice')" :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.productStreamChoice')" @change="onChangeCategoryStream" v-model="element.config.categories.value"></sw-entity-single-select>
							{% endblock %}

							{% block sw_cms_element_category_slider_config_content_category_stream_performance_hint %}
								<sw-alert class="sw-cms-el-config-category-slider__category-stream-performance-hint" variant="info">
									{{ $tc('sw-cms.elements.productSlider.config.textProductStreamPerformanceHint') }}
								</sw-alert>
							{% endblock %}

							{% block sw_cms_element_category_slider_config_content_category_stream_preview %}
								<sw-modal v-if="showCategoryStreamPreview" :title="productStream.name" class="sw-cms-el-config-category-slider__product-stream-preview-modal" @modal-close="onCloseCategoryStreamModal">
									{% block sw_cms_element_category_slider_config_content_category_stream_preview_grid %}
										<sw-product-stream-grid-preview :filters="categoryStream.apiFilter" :columns="categoryStreamPreviewColumns" :criteria="categoryStreamCriteria"></sw-product-stream-grid-preview>
									{% endblock %}
									<template #modal-footer>
										{% block sw_cms_element_category_slider_config_content_category_stream_preview_action_close %}
											<sw-button @click="onCloseCategoryStreamModal" size="small">
												{{ $tc('global.sw-modal.labelClose') }}
											</sw-button>
										{% endblock %}
									</template>
								</sw-modal>
							{% endblock %}

							<sw-container columns="1fr 1fr" gap="30px">
								{% block sw_cms_element_category_slider_config_content_category_stream_sorting %}
									<sw-single-select :label="$tc('sw-cms.elements.productSlider.config.label.productStreamSorting')" class="sw-cms-el-config-category-slider__product-stream-sorting" v-model="element.config.categoryStreamSorting.value" :disabled="!categoryStream" :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.productStreamSorting')" :options="categoryStreamSortingOptions"></sw-single-select>
								{% endblock %}

								{% block sw_cms_element_category_slider_config_content_category_stream_limit %}
									<sw-number-field :label="$tc('sw-cms.elements.productSlider.config.label.productStreamLimit')" class="sw-cms-el-config-category-slider__product-stream-limit" :disabled="!categoryStream" :min="1" v-model="element.config.categoryStreamLimit.value"></sw-number-field>
								{% endblock %}
							</sw-container>

							{% block sw_cms_element_category_slider_config_content_category_stream_preview_link %}
								<div class="sw-cms-el-config-category-slider__product-stream-preview-link-container">
									<a @click.prevent="onClickCategoryStreamPreview" class="sw-cms-el-config-category-slider__product-stream-preview-link link" :class="{ 'is--disabled': !categoryStream }" href="#">
										{{ $tc('sw-cms.elements.productSlider.config.textProductStreamPreviewLink') }}
										<sw-icon name="default-arrow-simple-right" small></sw-icon>
									</a>
								</div>
							{% endblock %}
						</template>

						{% block sw_cms_element_category_slider_config_content_categories %}
							<sw-entity-multi-select class="sw-cms-el-config-category-slider-categories" v-model="categoryCollection" @change="onCategoriesChange" :label="$tc('sw-cms.elements.categorySlider.config.categoryLabel.title')" :placeholder="$tc('sw-cms.elements.categorySlider.config.categoryPlaceholder.title')"></sw-entity-multi-select>
						{% endblock %}
					</sw-container>
				{% endblock %}

				{% block sw_cms_element_category_slider_config_settings %}
					<sw-container v-if="active === 'settings'" class="sw-cms-el-config-category-slider__tab-settings">
					
							{% block sw_cms_element_category_slider_config_settings_navigation %}
								<sw-field type="switch" bordered :label="$tc('sw-cms.elements.productSlider.config.label.navigation')" v-model="element.config.navigation.value"></sw-field>
							{% endblock %}

							{% block sw_cms_element_category_slider_config_settings_rotate %}
								<sw-field type="switch" bordered :label="$tc('sw-cms.elements.productSlider.config.label.rotate')" v-model="element.config.rotate.value"></sw-field>
							{% endblock %}

							{% block sw_cms_element_category_slider_config_settings_border %}
								<sw-field type="switch" bordered :label="$tc('sw-cms.elements.productSlider.config.label.border')" v-model="element.config.border.value"></sw-field>
							{% endblock %}

							{% block sw_cms_element_category_slider_config_settings_min_width %}
								<sw-field type="text" :label="$tc('sw-cms.elements.productSlider.config.label.minWidth')" :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.minWidth')" v-model="element.config.elMinWidth.value"></sw-field>
							{% endblock %}

							{% block sw_cms_element_category_slider_config_arrow_color %}
								<sw-colorpicker :label="$tc('sw-cms.elements.categorySlider.config.arrowColor.title')" :helptext="$tc('sw-cms.elements.categorySlider.config.arrowColor.helptext')" v-model="element.config.arrowColor.value" coloroutput="auto" :alpha="true" :disabled="false" :colorlabels="true" zIndex="9999"></sw-colorpicker>
							{% endblock %}

							{% block sw_cms_element_category_slider_config_arrow_background_color %}
								<sw-colorpicker :label="$tc('sw-cms.elements.categorySlider.config.arrowBackgroundColor.title')" :helptext="$tc('sw-cms.elements.categorySlider.config.arrowBackgroundColor.helptext')" v-model="element.config.arrowBackgroundColor.value" coloroutput="auto" :alpha="true" :disabled="false" :colorlabels="true" zIndex="9999"></sw-colorpicker>
							{% endblock %}

							{% block sw_cms_element_category_slider_config_category_banner_background_color %}
								<sw-colorpicker :label="$tc('sw-cms.elements.categorySlider.config.categoryBannerBackgroundColor.title')" :helptext="$tc('sw-cms.elements.categorySlider.config.categoryBannerBackgroundColor.helptext')" v-model="element.config.categoryBannerBackgroundColor.value" coloroutput="auto" :alpha="true" :disabled="false" :colorlabels="true" zIndex="9999"></sw-colorpicker>
							{% endblock %}

							{% block sw_cms_element_category_slider_config_category_banner_text_color %}
								<sw-colorpicker :label="$tc('sw-cms.elements.categorySlider.config.categoryTextColor.title')" :helptext="$tc('sw-cms.elements.categorySlider.config.categoryTextColor.helptext')" v-model="element.config.categoryBannerTextColor.value" coloroutput="auto" :alpha="true" :disabled="false" :colorlabels="true" zIndex="9999"></sw-colorpicker>
							{% endblock %}

							{% block sw_cms_element_category_slider_config_category_banner_arrow_color %}
								<sw-colorpicker :label="$tc('sw-cms.elements.categorySlider.config.categoryArrowColor.title')" :helptext="$tc('sw-cms.elements.categorySlider.config.categoryArrowColor.helptext')" v-model="element.config.categoryBannerArrowColor.value" coloroutput="auto" :alpha="true" :disabled="false" :colorlabels="true" zIndex="9999"></sw-colorpicker>
							{% endblock %}

							{% block sw_cms_element_category_slider_config_border_hover_color %}
								<sw-colorpicker :label="$tc('sw-cms.elements.categorySlider.config.borderHoverColor.title')" :helptext="$tc('sw-cms.elements.categorySlider.config.borderHoverColor.helptext')" v-model="element.config.borderHoverColor.value" coloroutput="auto" :alpha="true" :disabled="false" :colorlabels="true" zIndex="9999"></sw-colorpicker>
							{% endblock %}
						</sw-container>
					{% endblock %}
				</template>
			</sw-tabs>
		{% endblock %}
	</div>
{% endblock %}
