$color_1: #3B3B71;
$font-family_1: 'alegreya_sansextrabold';
$font-family_2: 'news_cycleregular';
$font-family_3: 'alegreya_sansregular';

.betty-wrapper {
    .right-main-text {
        width: 220px;
        margin-left:auto;
    }
    .cms-element-image-caption div.cms-image-caption h2 {
       span {
           text-align:left;
       }
        span:nth-child(odd) {
            font-family: $font-family_2;
            font-style: normal;
            font-weight: 700;
            font-size: 29px;
            line-height: 32px;
        }
        span:nth-child(even) {
            font-size: 26px;
            font-weight: 300;
            line-height: 32px;
            font-family: $font-family_3;
        }
    }
    .cms-element-image-caption {
        .cms-image-container.is-cover img.cms-image {
            object-fit: cover !important;
            width: auto;
            max-width: 100%;
        }
        .cms-image-caption {
            .right-text {
                text-align: right;
                padding: 0 64px;
                float: right;
            }
            p.bold-text {
                font-style: normal;
                font-weight: 900;
                font-size: 13px;
                line-height: 15px;
                text-transform: uppercase;
                font-family: $font-family_1;
                color: $color_1;
                text-align: left;
            }
        }
    }
}
