.cms-block-image-text-icon{
    .icon-content {
        font-family: alegreya_sansbold, serif;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        color: #3B3B71;
    }
    .cms-element-image .cms-image {
        border-radius: 50%;
    }

    .col-12.row.image-text-icon {
        display: none;
    }
}
