$color_1: #3B3B71;
$color_2: #000;
$font-family_1: 'news_cycleregular';
$font-family_2: 'alegreya_sansregular';
$font-family_3: 'alegreya_sansmedium';
$font-family_4: 'alegreya_sansbold';
$font-family_5: 'saira_stencil_oneregular';
$tablet: 1024px;
$tablet-sm: 768px;
$mobile: 767px;
$mobile-sm: 320px;

.home-product-banner {
    .cms-block-container {
        width:100%;
    }
    .card-col {
        justify-content: center;
    }
    .product-title,.product-price {
        color:$color_1;
        font-size:17px;
        font-family: $font-family_3;
        line-height:20.4px;
    }
    .card.product-box .product-price {
        font-weight:500;
    }
    .banner-link a {
        font-family: $font-family_4;
        font-weight: 900;
        text-decoration:none;
        &:after {
            color: $color_2;
            left: 15px;
            font-weight: 400;
        }
    }
    .cms-element-text {
        padding-left: 30px;
        margin-bottom:0px;
    }
    .card-col:last-child {
        .product-title, .product-price {
            font-family: $font-family_5;
        }
    }
    .text-category-wrapper{
        .cms-block-container{
            .col-4{
                .cms-element-text{
                    h2{
                        span{
                            font-size: 50px;
                        }
                    }
                }
            }
        }
    }
    .banner-title {
        .cms-element-text {
        padding-left: 0;
            padding-top: 35px;
            h2 {
                span {
                    &:nth-child(odd) {
                        font-family: $font-family_1;
                        font-weight: 700;
                        font-size: 46px;
                        line-height: 47px;
                        text-align: left;
                        display: block;
                        letter-spacing: 2px;
                        margin-bottom: 7px;
                    }
                    &:nth-child(even) {
                        font-family: $font-family_2;
                        font-size: 45px;
                        font-weight: 300;
                        line-height: 47px;
                        text-align: left;
                        display: block;
                    }
                }
            }
        }
    }
    .banner-link {
        a {
            font-family: $font-family_2;
            font-size: 14px;
            font-weight: 900;
            line-height: 17px;
            text-transform: uppercase;
            text-align: left;
            &:after {
                content: "❯";
                font-size: 10px;
                position: relative;
                top: -2px;
                left: 5px;
            }
        }
        float: right;
    }
    .col-12.col-lg-4 {
        .cta-link {
            display: flex;
            align-items: center;
            font-family: $font-family_2;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: $color_1;
            margin-top: 43px;
            a {
                text-decoration: underline;
            }
            &:before {
                display: inline-flex;
                align-items: center;
                content: "";
                height: 21px;
                width: 21px;
                background-image: url("../assets/images/schouw-i.svg");
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 10px;
            }
        }
    }
    .card.product-box {
        .product-price-info {
            margin-top: 0px;
        }
    }
    .betty-wrapper{
        background-color: none;
        margin-top: 50px;
    }
}

//
// New 
//

                }
    }
    .category-slider{
        .cms-section-default{
            :nth-child(1){
                .cms-block-container{
                    display: none;
                }
            }
        }
    }
    .product-click-wrapper{
        padding: 20px 20px 0 20px;
        .cms-section-default{
            .cms-block-container{
                padding-right: 0;
                padding-left: 0;
                .cms-element-text{
                    h3{
                        margin-bottom: 50px;
                    }
                    p{
                        margin-bottom: 40px;
                        font-size: 17px;
                    }
                    .mb-0{
                        a{
                            padding: 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .logo-slider-wrapper{
        background-color: #f3f3f8;
        .cms-section-default{
            padding-right: 0;
            padding-left: 0;
            .cms-block-container{
                padding: 20px 0 !important;
                .wibo-cat-slider{
                    .container{
                        padding-right: 0;
                        padding-left: 0;
                        .tns-ovh{
                            .product-slider-container{
                                width: calc(470%) !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .logo-slider-bottom-wrapper{
        .cms-block-container{
            .cms-element-text{
                margin-left: 0;
                .image-text-wrapper-text{
                    :nth-child(1){
                        font-size: 18px;
                    }
                    :nth-child(2){
                        font-size: 30px;
                    }
                    :nth-child(3){
                        margin-bottom: 25px;
                    }
                    br{
                        display: none;
                    }
                }
            }
        }
    }
    .betty-wrapper{
        background: none !important;
        .block-category-banner-left{
            .cms-element-image-caption{
                .cms-image-container{
                    min-height: 240px !important;
                }
                .cms-image-caption{
                    position: absolute;
                    left: 160px;
                    top: 20px;
                    padding: 0;
                    .right-main-text{
                        width: 220px;
                        margin-left: 0;
                    }
                    .right-text{
                        width: 220px;
                        padding: 0;
                        float: none;
                    }
                }
            }
        }
        .block-category-banner-right{
            margin-top: 30px;
            .row{
                .card-col{
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-around;
                    flex-direction: column;
                }
            }
        }
    }
}