$color_1: #3B3B71;
$font-family_2: 'alegreya_sansregular';

.text-category-wrapper {
    margin-top:60px;
    .cms-element-text {
        h2 {
            font-family: $font-family_2;
            font-style: normal;
            font-weight: 400;
            font-size: 27px;
            line-height: 55.91px;
            color: $color_1;
            margin-bottom: 0px;
        }
        p {
            font-family: $font-family_2;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: $color_1;
            margin-top: -10px;
        }
    }
    .bal-shadow .card-body .product-image-wrapper {
        height:250px;
    }
    .bal-category-banner {
        font-weight: 500;
    }
}
