$color_1: #3B3B71;
$font-family_1: 'alegreya_sansregular';

.text-author-wrapper {
    margin-top: 35px;
    .col-10 {
        padding-left: 0px;
    }
    .cms-block-container-row .col-6 > .row {
        margin-right:0px;
    }
    .cms-element-text {
        h2 {
            font-family: $font-family_1;
            font-style: normal;
            font-weight: 400;
            font-size: 27px;
            line-height: 32px;
            color: $color_1;
            margin-bottom: 11px;
        }
        p {
            font-family: $font-family_1;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: $color_1;
        }
    }
    .bg-img-text {
        flex-wrap: nowrap;
        gap: 15px;
        padding: 4px 0px 15px 15px;
        .cms-element-text {
            p {
                span {
                    &:nth-child(odd) {
                        font-family: $font-family_1;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: $color_1;
                    }
                    &:nth-child(even) {
                        font-family: $font-family_1;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 25px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: $color_1;
                        display: block;
                    }
                }
            }
        }
        .bg-img {
            .cms-image-container {
                border-radius: 50%;
                display: block;
                width: 76px;
                height: 76px;
                overflow: hidden;
            }
        }
    }
    .col-6 {
        .backgound-color{
            background-color: #C8C8C8;
            border-radius: 2px;
        }
    }
}
