/*
CMS text icon styling
==============================================
Specific styling for the element text-icon
*/

.cms-element-text-read-more {
    &__expanded-content {
        display: none;
    }

    &__collapse-button {
        display: none;
    }

    &.expanded {
        .cms-element-text-read-more {
            &__expanded-content, &__collapse-button {
                display: block;
            }

            &__expand-button {
                display: none;
            }
        }
    }
}
