/*
CMS text icon styling
==============================================
Specific styling for the element text-icon
*/

.cms-element-text-icon {
	&__layout {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-icon-left-text-right {
			flex-direction: row;
		}

		&-icon-top-text-bottom {
			flex-direction: column;
		}

		&-icon-right-text-left {
			flex-direction: row-reverse;
		}

		&-icon-bottom-text-top {
			flex-direction: column-reverse;
		}
	}

	&__icon {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
		margin: 10px;

		svg {
			fill: currentColor;
		}
	}

	&__content {
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__tooltip {
		position: absolute;
		background: #333;
		text-transform: none;
		padding: 10px 20px;
		color: #ffffff;
		font-size: 16px;
		opacity: 0;
		pointer-events: none;
		z-index: 99999;
		bottom: calc(100% + 1rem);
		display: inline-block;
		-webkit-transition: all 250ms ease-in-out;
		-moz-transition: all 250ms ease-in-out;
		transition: all 250ms ease-in-out;

		&:before {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 15px 15px 0 15px;
			border-color: #333 transparent transparent transparent;
			margin: auto;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -15px;
		}
	}

	&:hover {
		.cms-element-text-icon__tooltip {
			opacity: 1;
		}
	}
}
.cms-block {
	overflow: visible;
}
