{% sw_extends '@ZeobvDynamicProducts/storefront/component/product-detail/options/types/boolean.html.twig' %}

{% block page_dynamic_product_detail_options_boolean %}
    <div class="col-12">
        {% block page_dynamic_product_detail_options_boolean_label %}
            {{ parent() }}
        {% endblock %}
    </div>

    <div class="col-12 mb-2">
        {% block page_dynamic_product_detail_options_boolean_inputs %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block page_dynamic_product_detail_options_boolean_inputs_option_label %}
    <span class="switch"></span>

    {{ parent() }}
{% endblock %}

{% block page_dynamic_product_detail_options_boolean_inputs_option_label_price %}
    {{ (0 + availableOption.surcharge) | currency }}
{% endblock %}
