{% sw_extends '@ZeobvDynamicProducts/storefront/component/product-detail/options/types/product.html.twig' %}

{% block page_dynamic_product_detail_options_product_inner_form_check_label_inner %}
    {{ parent() }}

    <div class="d-flex">
        <span class="switch"></span>
    </div>
{% endblock %}
