{% block stock_import_list %}
    <sw-page class="stock-import-list">
        <template slot="content">
            <sw-card class="sw-settings-shipping-detail__condition_container">
                <div class="collection-container">
                    <div style="width:100%;">
                        <h1>{{ $t('stock-import.label.title') }}</h1>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <sw-button id="atagImportButton"
                                       :disabled="false"
                                       variant="primary"
                                       :square="false"
                                       :block="false"
                                       :isLoading="false"
                                       @click="onAtagSave">
                                {{ $t('stock-import.label.atagBtn') }}
                            </sw-button>
                        </div>

                        <div class="col-md-4">
                            <sw-button id="etnaImportButton"
                                       :disabled="false"
                                       variant="primary"
                                       :square="false"
                                       :block="false"
                                       :isLoading="false"
                                       @click="onEtnaSave">
                                {{ $t('stock-import.label.etnaBtn') }}
                            </sw-button>
                        </div>

                        <div class="col-md-4">
                            <sw-button id="askoImportButton"
                                       :disabled="false"
                                       variant="primary"
                                       :square="false"
                                       :block="false"
                                       :isLoading="false"
                                       @click="onAskoSave">
                                {{ $t('stock-import.label.askoBtn') }}
                            </sw-button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <sw-button id="pelgrimImportButton"
                                       :disabled="false"
                                       variant="primary"
                                       :square="false"
                                       :block="false"
                                       :isLoading="false"
                                       @click="onPelgrimSave">
                                {{ $t('stock-import.label.pelgrimBtn') }}
                            </sw-button>
                        </div>
                        <div class="col-md-4">
                            <sw-button id="hisenseImportButton"
                                       :disabled="false"
                                       variant="primary"
                                       :square="false"
                                       :block="false"
                                       :isLoading="false"
                                       @click="onHisenseSave">
                                {{ $t('stock-import.label.hisenseBtn') }}
                            </sw-button>
                        </div>
                        <div class="col-md-4">
                            <sw-button id="amacomImportButton"
                                       :disabled="false"
                                       variant="primary"
                                       :square="false"
                                       :block="false"
                                       :isLoading="false"
                                       @click="onAmacomSave">
                                {{ $t('stock-import.label.amacomBtn') }}
                            </sw-button>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <sw-button id="borettiImportButton"
                                       :disabled="false"
                                       variant="primary"
                                       :square="false"
                                       :block="false"
                                       :isLoading="false"
                                       @click="onBorettiSave">
                                {{ $t('stock-import.label.borettiBtn') }}
                            </sw-button>
                        </div>
                        <div class="col-md-4">
                            <sw-button id="inventumImportButton"
                                       :disabled="false"
                                       variant="primary"
                                       :square="false"
                                       :block="false"
                                       :isLoading="false"
                                       @click="onInventumSave">
                                {{ $t('stock-import.label.inventumBtn') }}
                            </sw-button>
                        </div>
                        <div class="col-md-4">
                            <sw-button id="smegImportButton"
                                       :disabled="false"
                                       variant="primary"
                                       :square="false"
                                       :block="false"
                                       :isLoading="false"
                                       @click="onSmegSave">
                                {{ $t('stock-import.label.smegBtn') }}
                            </sw-button>
                        </div>
                    </div>
                </div>
            </sw-card>
        </template>
    </sw-page>
{% endblock %}
