.breadcrumb.cms-breadcrumb {
    padding: 0;
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 1rem;
    @include media-breakpoint-up(md) {
        margin-bottom: 1rem;
        padding-left: 45px;
    }
    .breadcrumb-placeholder,
    li.breadcrumb-item .breadcrumb-link {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
        }
    }
    .breadcrumb {
        font-weight: 400;
        color: $color-blue;
        margin-bottom: 0;
        li.breadcrumb-item {
            .breadcrumb-link {
                color: $sw-text-color;
                @include media-breakpoint-up(md) {
                    color: $color-blue;
                }
                &.is-active {
                    display: block;
                    color: $sw-text-color;
                    font-weight: 400;
                    @include media-breakpoint-up(md) {
                        font-weight: 500;
                    }
                    &:before {
                        content: "< ";
                        @include media-breakpoint-up(md) {
                            content: unset;
                        }
                    }
                }
            }
        }
    }
}

.is-ctl-navigation:not(.is-act-home) {
    .breadcrumb {
        display: none;
    }
    .cms-page {
        padding-top: 20px;
    }
}
