.cms-section-sidebar {
    .cms-element-sidebar-filter {
        @include media-breakpoint-down(sm) {
            margin-bottom: 15.5px;
        }

        .filter-panel-wrapper-toggle {
            width: auto;
            border: none;
            color: $sw-color-brand-primary;
            padding: 0;

            .icon {
                svg {
                    top: 6px;
                    color: $sw-color-brand-primary;
                    transform: rotate(-90deg);
                }
            }
        }
        .icon-filter-panel-item-toggle > svg {
            color: $sw-color-brand-primary;
        }
        .filter-panel-item {
            border-bottom: 1px solid $color-grey-5;
            margin: 0;

            .filter-panel-item-toggle {
                padding: 16px 0;
                border: 0;
                text-transform: inherit;
                color: $color-blue;
                font-weight: 600;
                position: relative;

                .filter-multi-select-tooltip {
                    background: $color-grey-5;
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    color: $color-white;
                    margin: 6px 0 0 5px;
                    line-height: 18px;
                    vertical-align: top;
                }
            }
            .filter-panel-item-toggle[aria-expanded="true"] {
                border: 0;
            }
            .btn-buy.disabled,
            .btn:disabled,
            .btn-buy:disabled {
                background: $color-white;
                border-color: $color-white;
            }
        }
        .displayName {
            padding: 0;
            border: 0;
            text-transform: inherit;
            color: $color-blue;
            font-weight: 600;
            margin-bottom: 13px;
            display: block;
        }
        .filter-multi-select-list {
            @extend .filter-multi-select-list;
            margin-bottom: 0;

            @include media-breakpoint-up(md) {
                margin-bottom: 13px;
            }
        }
        .filter-multi-select-list-item {
            padding: 0px;
        }
        .filter-panel-item-dropdown.collapse:not(.show),
        .filter-panel-item-dropdown {
            padding: 0;
            max-height: unset;

            @include media-breakpoint-up(md) {
                border: 0;
            }
        }
        .collapsing {
            overflow: hidden;
        }

        .filter-panel-item .filter-panel-item-toggle:focus {
            box-shadow: none;
        }
    }
}

// fix for mobile display
.cms-section-sidebar.cms-section-sidebar-mobile-wrap.boxed.row {
    margin-top: 30px;
}
.custom-control-label {
    &:before {
        border-color: $color-blue;
    }
}

//fix for top filtering and sort select
.cms-element-product-listing-actions {
    margin: 0;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0;
    @include media-breakpoint-up(md) {
        padding: 10px 0;
    }
    .col-md-auto {
        @include media-breakpoint-up(md) {
            padding: 0;
        }
        .sorting-wrapper {
            @include media-breakpoint-down(md) {
                justify-content: end;
            }
        }
        span.sorting-title {
            padding-right: 15px;
        }
    }
}
