.is-act-comparepage {
    .btn-printer {
        border-color: $color-blue;
        color: $color-blue;

        &:hover, &:active, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
            background-color: $color-blue;
            border-color: $color-blue;
            color: $color-white;
            box-shadow: none;
        }
    }

    .btn-clear {
        color: #212529;
        background-color: $color-grey;
        border-color: $color-grey;
    }

    .comparison-table .comparison-item .compare-item-remove-button {
        background-color: $color-blue;
        border-color: $color-blue;
        padding: 0 9px 3px 9px;

        &:hover, &:active, &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
            background-color: $color-blue;
            border-color: $color-blue;
            color: $color-white;
            box-shadow: none;
        }
    }

    .product-call-to-action {
        display: none;
    }
}
