[data-cookie-permission] {
    display: none;
}

.cookie-permission-container-big {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1040;

    .cookie-permission-inner {
        background: white;
        position: relative;
        display: inline-flex;

        justify-content: space-between;
        align-items: flex-end;

        width: auto;
        max-width: 1000px;
        margin: 20px;
        padding: 0 30px;

        @include media-breakpoint-up(md) {
            padding: 0 0 0 60px;
        }

        > div {
            flex: 1;
        }

        .text {
            margin-bottom: 2rem;
        }

        .js-cookie-accept-button {
            button {
                width: 100%;
                margin-bottom: 0.5rem;
            }
        }

        .no-button {
            background: none;
            padding: 0;
            margin: 0;
            font-size: 0.8em;
            opacity: 0.5;
            text-decoration: underline;

            &:active,&:focus {
                outline: none;
            }
        }

    }

    .cookie-permission-button {
        button {
            font-size: 1rem;
            font-weight: 400;
            border: none;
        }
    }

    .js-cookie-configuration-button {
        button {
            text-transform: none;
            font-size: 1rem;
            font-weight: 400;
            border: none;

        }
    }

    .js-cookie-accept-button {
        button {
            text-transform: none;
            font-size: 1rem;
            font-weight: 400;
            border: none;
        }
    }

    .cookie-permission-inner {
        .cookie-permission-inner-text-wrapper {
            padding: 50px 0;

            .title {
                text-transform: lowercase;
                color: $sw-color-brand-primary;
                margin-bottom: 5px;
            }

            .subtitle {
                text-transform: uppercase;
                font-weight: 600;
                color: $sw-color-brand-primary;
            }

            p {
                color: $sw-text-color;
                margin: 20px 0;

                a {
                    color: $sw-color-brand-primary;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .js-cookie-accept-button {
                .btn {
                    margin-bottom: 0;
                    padding: 15px 20px;
                    border-radius: 3px;
                    border: none;

                    @include media-breakpoint-up(md) {
                        width: auto;
                        padding: 15px 70px;
                    }
                }
            }
        }

        .cookie-permission-inner-image-wrapper {
            display: none;
            position: relative;

            @include media-breakpoint-up(md) {
                display: block;
            }

            .cookie-permission-inner-image {
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: 0;

                img {
                    max-width: 100%;
                    max-height: 500px;
                }
            }
        }
    }
}
