header.header-main {
    background: $color-white;
    span.icon.icon-search {
        color: $color-blue;
    }
}

// make fixed
.header-wrapper {
    position: fixed;
    z-index: 1040; // FIX FOR MODAL ZINDEX MIGHT NEED MORE FIXES BECAUSE OF THIS
    width: 100%;
}

// up zindex aswell
.offcanvas {
    z-index: 1041;
}

// remove padding icons col for layout mobile
.header-row {
    padding: 0;

    .header-actions-col {
        .btn {
            padding: calc(0.2vw * 2);
        }

        // hide price cart
        span.header-cart-total {
            display: none;
        }

        .header-compare {
            .compare-float-button {
                .btn {
                    &:active, &:focus:active, &:focus {
                        background-color: transparent;
                        border-color: transparent;
                        box-shadow: none;
                    }

                    .icon-compare {
                        &:before {
                            height: 21px;
                            width: 21px;
                            margin-top: 4px;
                        }
                    }
                }

                &.is-visible {
                    .header-compare-badge {
                        visibility: visible;
                    }
                }

                .header-compare-badge {
                    visibility: hidden;
                }
            }

            .header-compare-badge {
                top: -1px;
                right: -0.25rem;
            }
        }

        // badge cart qty color
        .header-cart-badge {
            display: block;
            background-color: $color-green-2;
        }
    }

    .header-logo-col {
        padding-bottom: 0;
    }

    //blue hamburger
    .btn.nav-main-toggle-btn.header-actions-btn .icon {
        color: $color-blue;
    }
}

@include media-breakpoint-down(md) {
    .header-row {
        padding: 0;
        .header-logo-col,
        .header-actions-col,
        .header-menu-toggle {
            padding: 0;
            margin: 0;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 65px;
        }
        .header-search-col {
            background: $color-light-blue;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            .row {
                width: calc(100% - 30px);
                .col {
                    padding: 0;
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .header-row {
        .header-main {
            height: 88px;
        }
        .header-actions-col {
            height: 88px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .header-logo-col,
        .header-menu-toggle {
            height: 88px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
}

@include media-breakpoint-down(xs) {
    #searchCollapse {
        display: block;
    }
}
