.header-wrapper{
    .upper-bar{
        font-size: 13px;
        .dropdown{
            span{
                margin-left: 20px;
            }
            .dropdown-menu{
                transform: translate3d(-18px, 46px, 0px) !important;
                line-height: 27px;
                width: 192px !important;
                .list-unstyled{
                    margin: 0;
                    padding-left: 10px;
                    padding-right: 10px;
                    .footer-link{
                        font-size: 13px;
                        color: #3B3B71;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    .header-wrapper{
        .upper-bar{
            display: block;
            .review-wrapper{
                display: none !important;
            }
            .usp-wrapper{
                display: none !important;
            }
            .dropdown{
                margin-left: 0px;
                font-size: 12px;
                span{
                    font-size: 13px;
                }
            }
            .contact-wrapper{
                margin-right: 0px;
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 767px) {
    .header-wrapper{
        .upper-bar{
            display: block;
            .review-wrapper{
                display: none !important;
            }
            .usp-wrapper{
                display: none !important;
            }
            .dropdown{
                display: flex;
                align-items: center;
                margin-left: -22px;
                font-size: 12px;
                span{
                    font-size: 16px;
                }
            }
            .contact-wrapper{
                margin-right: -22px;
                font-size: 12px;
            }
        }
    }
}
