{% block sw_cms_element_text_product_video %}
    <div class="sw-cms-el-preview-image-text">
        <img
            class="sw-cms-preview-text-video__img"
            :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
            alt=""
        >
        <div class="sw-cms-preview-text-video__text">
            <b>Onze wim</b>
            <i>legt het uit</i>
        </div>
    </div>
{% endblock %}
